.about__text {
	width: 290px;
	margin: 0 auto;
	padding-bottom: 20px;

	h2 {
		@include font($primary-font, 22px, 22px, $primary-color);
    font-weight: 800;
		z-index: 1;
		position: relative;
		margin: 0 0 42px;
		width: 290px;

		&::before {
			content: attr(title); 
			position: absolute;
      z-index: -1;
			color: rgba(45, 56, 63, 0.03);
		  font-size: 26px;
		  line-height: 26px;
		  left: 0;
		  top: -8px;
		}

		@media(min-width: $tablet-width) {
			margin: 0 0 46px;
		}

		@media(min-width: $desktop-width) {
			margin: 0 0 57px;
		}
	}

	h3 {
		@include font($primary-font, 16px, 16px, $primary-color);
    font-weight: 700;
		margin: 0;
		margin-bottom: 13px;
		width: 290px;

		@media(min-width: $desktop-width) {
			margin-bottom: 20px;
		}
	}

	p {
		@include font($primary-font, 14px, 20px, $primary-color);
    font-weight: 400;
		margin: 0;
		margin-bottom: 25px;
		width: 290px;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $tablet-width) {
			width: 238px;
		}

		@media (min-width: $desktop-width) {
			width: 660px;
		}
	}
	
	@media (min-width: $tablet-width) {
		margin: 0;
		transform: translateX(-95px);
	}

	@media (min-width: $desktop-width) {
		margin: 0;
		transform: none;
	}
}

.about__picture {
	width: 320px;
	margin: 0 auto;

	@media (min-width: $tablet-width) {
		width: 542px;
		margin: 0;
	}

	@media (min-width: $desktop-width) {
		width: 660px;
		margin: 0;
	}
}

.about__container {
	@media (min-width: $tablet-width) {
		display: flex;
		padding: 40px 0;
	}

	@media (min-width: $desktop-width) {
		flex-wrap: wrap;
		padding: 100px 0;
	}
}