.adv {
	@media (min-width: $tablet-width) {
		position: relative;
	}
}

.adv__background {
	@media (min-width: $tablet-width) {
		position: absolute;
		z-index: -1;
		width: 100%;
    height: 1265px;
		background-image:
		  image-set(
			  url("../../img/adv-background-tablet@1x.png") 1x,
			  url("../../img/adv-background-tablet@2x.png") 2x,
			  url("../../img/adv-background-tablet@1x.webp") 1x,
			  url("../../img/adv-background-tablet@2x.webp") 2x
		  );
		background-size: 100% auto;
		background-repeat: no-repeat;
		top: 190px;
	}

	@media (min-width: $desktop-width) {
		width: 100%;
    height: 734px;
		background-image:
		  image-set(
			  url("../../img/adv-background-desktop@1x.png") 1x,
			  url("../../img/adv-background-desktop@2x.png") 2x,
		    url("../../img/adv-background-desktop@1x.webp") 1x,
			  url("../../img/adv-background-desktop@2x.webp") 2x
		  );
		background-size: 100% auto;
		background-repeat: no-repeat;
		top: -320px;
	}
}

.adv__title {
	@include font($primary-font, 22px, 22px, $primary-color);
	font-weight: 800;
	width: 290px;
	text-align: center;
	padding: 20px 0 60px;
	position: relative;
	z-index: 1;

	&::before {
		content: attr(title);
		position: absolute;
		z-index: -1;
		color: rgba(45, 56, 63, 0.03);
		font-size: 26px;
		line-height: 26px;
		left: 0;
		top: 7px;
		width: 290px;
	}

	@media (min-width: $tablet-width) {
		@include font($primary-font, 25px, 25px, $primary-color);
	  font-weight: 800;
		width: 678px;

		&::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 40px;
			line-height: 40px;
			left: 70px;
			top: 4px;
			width: 542px;
		}
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 35px, 35px, $primary-color);
	  font-weight: 800;
		width: 1200px;
		margin: 0 auto;
		padding: 0 0 50px;

		&::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 55px;
			line-height: 55px;
			left: 330px;
			top: -24px;
			width: 542px;
		}
	}
}

.adv__swiper {
	@media (min-width: $tablet-width) {
		width: 678px;
	}

	@media (min-width: $desktop-width) {
		min-width: 1440px;
		margin-bottom: 50px;
	}
}

.adv__wrapper-container {
  @media (min-width: $desktop-width) {
		min-width: 1440px;
	}
}

.adv__swiper-wrapper {
	@media (min-width: $tablet-width) {
		width: 678px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		margin: 0 auto;
	}
		
	@media (min-width: $desktop-width) {
		min-width: 1440px;
		justify-content: center;
		flex-wrap: nowrap;
	}
}

.adv__slider-wrapper {
	width: 290px;

	@media (min-width: $tablet-width) {
	  width: 678px;
	}

	@media (min-width: $desktop-width) {
		min-width: 1440px;
	}
}

.adv__container-features {
	width: 290px;
	margin: 0 auto;
	padding: 20px 0;

	@media (min-width: $tablet-width) {
		width: 678px;
		padding: 40px 0;
	}

	@media (min-width: $desktop-width) {
		min-width: 1440px;
		padding: 135px 0;
	}
}

.adv__wrapper {
	text-align: center;
	width: 290px;
	padding: 20px 10px;
	border: 1px solid rgba(2, 102, 193, 0.1);
	margin-bottom: 15px;
	position: relative;
	background-color: $white-color;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $tablet-width) {
		width: 324px;
		padding: 30px 20px;
		margin: 0;
	}

	@media (min-width: $desktop-width) {
		width: 380px;
		padding: 40px 20px;
	}

	h3 {
		@include font($primary-font, 14px, 14px, $primary-color);
    font-weight: 600;
		padding-top: 62px;
		margin: 0 0 15px;
		width: 270px;

		@media (min-width: $tablet-width) {
			@include font($primary-font, 16px, 16px, $primary-color);
      font-weight: 600;
			width: 284px;
		}

		@media (min-width: $desktop-width) {
			@include font($primary-font, 18px, 18px, $primary-color);
      font-weight: 600;
			width: 340px;
		}
	}

	p {
		@include font($primary-font, 12px, 18px, $primary-color);
    font-weight: 400;
		margin: 0;
		width: 270px;

		@media (min-width: $tablet-width) {
			@include font($primary-font, 14px, 22px, $primary-color);
      font-weight: 400;
			width: 284px;
		}

		@media (min-width: $desktop-width) {
			@include font($primary-font, 14px, 22px, $primary-color);
      font-weight: 400;
			width: 340px;
		}
	}

	br {
		@media (min-width: $desktop-width) {
		  display: none;
		}
	}
}

.adv__button-wrapper {
	display: none;

	@media (min-width: $desktop-width) {
		display: flex;
		flex-wrap: wrap;
		column-gap: 4px;
		width: 1200px;
		margin: 0 auto;
		justify-content: center;
	}
}

.adv__wrapper-one {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 42px;
		height: 42px;
		left: 45%;
		background-image: url("../../__spritemap#sprite-ok-advantages-view");
		background-repeat: no-repeat;
		background-size: 42px 42px;
	}

	@media (min-width: $tablet-width) {
    background-size: 48px 48px;
	}

	@media (min-width: $desktop-width) {
		background-size: 54px 54px;
	}
}

.adv__wrapper-two {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 42px;
		height: 42px;
		left: 45%;
		background-image: url("../../__spritemap#sprite-crown-advantages-view");
		background-repeat: no-repeat;
		background-size: 42px 42px;
	}

	@media (min-width: $tablet-width) {
    background-size: 48px 48px;
	}

	@media (min-width: $desktop-width) {
		background-size: 54px 54px;
	}
}

.adv__wrapper-free {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 42px;
		height: 42px;
		left: 45%;
		background-image: url("../../__spritemap#sprite-boots-advantages-view");
		background-repeat: no-repeat;
		background-size: 42px 42px;
	}

	@media (min-width: $tablet-width) {
    background-size: 48px 48px;
	}

	@media (min-width: $desktop-width) {
		background-size: 54px 54px;
	}
}

.adv__wrapper-for {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 42px;
		height: 42px;
		left: 45%;
		background-image: url("../../__spritemap#sprite-way-advantages-view");
		background-repeat: no-repeat;
		background-size: 24px 24px;
		background-position: center;
		border: 1px solid $blue-color;
	}

	@media (min-width: $tablet-width) {
    background-size: 48px 48px;
	}

	@media (min-width: $desktop-width) {
		background-size: 54px 54px;
	}
}

.adv__wrapper-five {
	&::before {
		content: "";
		position: absolute;
		display: block;
		width: 42px;
		height: 42px;
		left: 45%;
		background-image: url("../../__spritemap#sprite-lotos-advantages-view");
		background-repeat: no-repeat;
		background-size: 42px 42px;
	}

	@media (min-width: $tablet-width) {
    background-size: 48px 48px;
	}

	@media (min-width: $desktop-width) {
		background-size: 54px 54px;
	}
}
