.form {
  background-image:
    image-set(
      url("../../img/form-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/form-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/form-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../img/form-mobile@2x.jpg") type("image/jpg") 2x,
    );
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  min-height: 638px;
  padding-bottom: 174px;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../img/form-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/form-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/form-tablet@1x.jpg") type("image/jpg") 1x,
        url("../../img/form-tablet@2x.jpg") type("image/jpg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
    min-height: 680px;
    padding-bottom: 183px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../img/form-desktop@1x.webp") type("image/webp") 1x,
        url("../../img/form-desktop@2x.webp") type("image/webp") 2x,
        url("../../img/form-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../img/form-desktop@2x.jpg") type("image/jpg") 2x,
      );
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1440px;
    min-height: 760px;
    padding-bottom: 292px;
  }

  h2 {
    @include font($primary-font, 22px, 22px, $white-color);

    font-weight: 800;
    text-align: center;
    width: 258px;
    margin: 0 0 17px;

    @media (min-width: $tablet-width) {
      @include font($primary-font, 25px, 25px, $white-color);

      font-weight: 800;
      width: 360px;
      margin: 0 0 23px;
    }

    @media (min-width: $desktop-width) {
      @include font($primary-font, 35px, 35px, $white-color);

      font-weight: 800;
      width: 1360px;
      margin: 0 0 20px;
    }
  }

  p {
    @include font($primary-font, 12px, 18px, $white-color);

    font-weight: 400;
    text-align: center;
    width: 258px;
    margin: 0 0 20px;

    @media (min-width: $tablet-width) {
      @include font($primary-font, 16px, 24px, $white-color);

      font-weight: 400;
      width: 360px;
      margin: 0 0 24px;
    }

    @media (min-width: $desktop-width) {
      width: 1360px;
      margin: 0 0 40px;
    }
  }

  br {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.form__container {
  width: 258px;
  padding-top: 177px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 360px;
    padding-top: 187px;
  }

  @media (min-width: $desktop-width) {
    width: 1360px;
    padding-top: 292px;
  }
}

.form__input {
  @include font($primary-font, 16px, 16px, $primary-color);

  font-weight: 400;
  margin-bottom: 8px;
  width: 258px;
  height: 50px;
  padding: 1px 0 15px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    width: 360px;
    height: 56px;
    padding: 0 30px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__input:hover {
  border-color: #0266c1;
}

.form__input:focus {
  border-color: $primary-color;
  outline: none;
}

.form__input:disabled {
  color: #999999;
  border-color: #999999;
  background: $white-color;
}

.form__input--disabled {
  border: 1px solid #ff121f;
  background-color: $white-color;
}

.form__input-wrapper {
  position: relative;
}

.form__label {
  position: absolute;
  display: block;
  width: 258px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  border-radius: 2px;
  padding: 17px 14px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: rgba(45, 56, 63, 0.5);
  background-color: $white-color;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 360px;
    height: 56px;
    padding: 19px 29px;
  }

  &:has(~ .form__input:disabled) {
    color: #999999;
  }

  &:has(~ .form__input:focus),
  &:has(~ .form__input:focus-visible),
  &:has(~.form__input:active) {
    display: none;
  }
}

.form__button {
  @include font($primary-font, 16px, 16px, $white-color);

  font-weight: 500;
  width: 258px;
  min-height: 58px;
  background-color: $blue-color;
  border: none;
  padding: 22px 20px 20px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 360px;
    min-height: 56px;
    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }

  &:hover {
    background-color: $white-color;
    border: 1px solid #1c3374;
    color: #1c3374;
  }

  &:focus {
    background-color: $white-color;
    border: none;
    color: #1c3374;
  }

  &:focus-visible {
    background-color: $white-color;
    border: none;
    color: #1c3374;
  }

  &:active {
    background-color: #1c3374;
    color: $white-color;
  }

  &:disabled {
    background-color: #999999;
  }
}

.form__form-question {
  display: block;
  width: 258px;

  @media (min-width: $tablet-width) {
    width: 360px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}
