.reviews {
	margin: 0 auto;
  position: relative;
  width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
   width: 768px;
   overflow: visible;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
   }
}

.reviews__title {
  @include font($primary-font, 22px, 22px, $primary-color);
	font-weight: 800;
  margin: 0 0 20px;
  padding-top: 16px;
  width: 290px;
  position: relative;
  z-index: 1;
  
  &::before {
		content: attr(title);
		position: absolute;
		z-index: -1;
		color: rgba(45, 56, 63, 0.03);
		font-size: 26px;
		line-height: 26px;
		left: 0;
		top: 4px;
		width: 290px;
	}

  @media (min-width: $tablet-width) {
    @include font($primary-font, 25px, 25px, $primary-color);
	  font-weight: 800;
    margin: 0;
    padding: 20px 0 10px;
    width: 600px;

    &::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 40px;
			line-height: 40px;
			left: 0;
			top: 4px;
			width: 542px;
		}
  }

  @media (min-width: $desktop-width) {
    @include font($primary-font, 35px, 35px, $primary-color);
	  font-weight: 800;
    padding: 45px 0 0;

    &::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 55px;
			line-height: 55px;
			left: 0;
			top: 6px;
			width: 542px;
		}
  }
}

.reviews__title-wrapper {
  width: 290px;
  min-height: 22px;

  @media (min-width: $tablet-width) {
    width: 600px;
  }

  @media (min-width: $desktop-width) {
    min-height: 35px;
  }
}

.reviews__reviews-slide {
  width: 290px;
  height: 484px;
  padding: 20px; 
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    width: 565px;
    height: 277px;
    display: flex;
    column-gap: 30px;
    margin: 0; 
    box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.reviews__container {
  width: 250px;

  @media (min-width: $tablet-width) {
    width: 299px;
  }

  @media (min-width: $desktop-width) {
    width: 352px;
  }

  p {
    @include font($primary-font, 12px, 18px, $primary-font);
    font-weight: 400;
    width: 250px;

    @media (min-width: $tablet-width) {
      width: 299px;
      margin: 0 0 15px;
    }

    @media (min-width: $desktop-width) {
      @include font($primary-font, 14px, 22px, $primary-font);
      font-weight: 400;
      margin: 0 0 10px;
      width: 352px;

      &:nth-child(2) {
        margin: 0;
      }

      &:nth-child(4) {
        margin: 0;
      }
    }
  }
}

.reviews__name {
  @include font($primary-font, 12px, 12px, $primary-font);
  font-weight: 700;
  margin: 15px 0 8px;

  @media (min-width: $tablet-width) {
    margin: 25px 0 6px;
  }

  @media (min-width: $desktop-width) {
    @include font($primary-font, 13px, 13px, $primary-font);
    font-weight: 700;
    margin: 2px 0 8px;
  }
}

.reviews__gorod {
  @include font($primary-font, 12px, 12px, $primary-font);
  font-weight: 300;
  margin: 0;

  @media (min-width: $desktop-width) {
    @include font($primary-font, 12px, 12px, $primary-font);
    font-weight: 300;
    margin: 0;
  }
}

.reviews__swiper {
  width: 290px;
  height: 484px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 565px;
    height: 277px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 293px;
  }
}

.reviews__container-slide {
  width: 290px;
  padding: 20px 15px;

  @media (min-width: $tablet-width) {
    width: 723px;
    padding: 40px 0 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    padding: 100px 0 77px 130px;
  }
}

.reviews__swiper-wrapper {
  width: fit-content;
  height: 484px;
  display: flex;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    min-width: 743px;
    height: 277px; 
    display: flex;
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-width: 1320px;
    height: 293px;
  }
}

.reviews__slider-wrapper {
  display: block;
  width: 290px;
  height: 484px;
  background-color: $white-color; 
  box-shadow: 0px 0px 20px 0px rgba(28, 51, 116, 0.1);

  @media (min-width: $tablet-width) {
    width: 565px;
    height: 277px;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 293px;
  }
}

.reviews__img {
  display: block;
  margin: 0 0 20px;
}

.reviews__button-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    height: 35px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    margin-top: 45px;
  }
}

.reviews__wrapper-tablet {
  @media (min-width: $tablet-width) {
    width: 678px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.reviews__swiper-button {
  width: 37px;
  height: 35px;
  background-color: #999999;
  border: none;
  cursor: pointer;

  &--active {
    background-color: $blue-color;
  }

  &--prev::before {
    content: "";
    display: block;
    width: 37px;
    height: 35px;
    transform: translate(3px, 12px);
    mask-image: url("../../__spritemap#sprite-arrow-left-tour-view");
    mask-size: 20px 10px;
    background-color: $white-color;
    mask-repeat: no-repeat;
  }

  &--next::before {
    content: "";
    display: block;
    width: 37px;
    height: 35px;
    transform: translate(3px, 12px);
    mask-image: url("../../__spritemap#sprite-arrow-right-tour-view");
    mask-size: 20px 10px;
    background-color: $white-color;
    mask-repeat: no-repeat;
  }
}