.reviews-slide {
  width: 290px;
  height: 484px;
  padding: 20px;

  .reviews-slide::-webkit-scrollbar {
    width: 6px;
  }

  .reviews-slide::-webkit-scrollbar-track {
    background: transparent;
  }

  .reviews-slide::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
  }

  .reviews-slide::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media (min-width: $tablet-width) {
    width: 565px;
    height: 277px;
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 293px;
  }
}
