.slider-header__navigation {
	display: none;

	@media (min-width: $tablet-width) {
		display: block;
		width: 339px;
		min-height: 35px;
		padding-top: 20px;
		display: flex;
		flex-wrap: wrap;
		column-gap: 4px;
		justify-content: flex-end;
	}

	@media (min-width: $desktop-width) {
		width: 78px;
	}
}

.slider-header__title {
	@include font($primary-font, 22px, 22px, $primary-color);
  font-weight: 800;
	margin: 0 0 42px;
	padding-top: 16px;
	position: relative;
	z-index: 1;

	&::before {
		content: attr(title);
		position: absolute;
		z-index: -1;
		color: rgba(45, 56, 63, 0.03);
		font-size: 26px;
		line-height: 26px;
		left: 0;
		top: 1px;
		width: 290px;
	}

	@media (min-width: $tablet-width) {
		@include font($primary-font, 25px, 25px, $primary-color);
    font-weight: 800;
		margin: 0 0 40px;
		padding-top: 20px;

		&::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 40px;
			line-height: 40px;
			left: 0;
			top: 4px;
			width: 542px;
		}
	}

	@media (min-width: $desktop-width) {
		@include font($primary-font, 35px, 35px, $primary-color);
    font-weight: 800;
		margin:  0 0 53px;
		padding-top: 0;

		&::before {
			content: attr(title);
			position: absolute;
			z-index: -1;
			color: rgba(45, 56, 63, 0.03);
			font-size: 55px;
			line-height: 55px;
			left: 0;
			top: -18px;
			width: 542px;
		}
	}
}

.slider-header__title-wrapper {
	@media (min-width: $tablet-width) {
		width: 339px;
	}

	@media (min-width: $desktop-width) {
		width: 1122px;
		padding-right: 580px;
	}
}