.title {
  @include font($primary-font, 22px, 22px, $primary-color);

  font-weight: 800;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 25px, 25px, $primary-color);

    font-weight: 800;
  }

  @media (min-width: $desktop-width) {
    @include font($primary-font, 35px, 35px, $primary-color);

    font-weight: 800;
  }
}
