.tours {
  position: relative;
}

.tours__info {
  width: 250px;

  @media (min-width: $tablet-width) {
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
  }
}

.tours__background {
  position: absolute;
  z-index: -1;
  width: 320px;
  height: 595px;
  top: 310px;
  right: 0;
  background-image:
    image-set(
      url("../../img/tours-background-mobile@1x.png") 1x,
      url("../../img/tours-background-mobile@2x.png") 2x,
      url("../../img/tours-background-mobile@1x.webp") 1x,
      url("../../img/tours-background-mobile@2x.webp") 2x
    );
  background-size: 320px 595px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 429px;
    right: 0;
    width: 768px;
    height: 742px;
    background-image:
      image-set(
        url("../../img/tours-background-tablet@1x.png") 1x,
        url("../../img/tours-background-tablet@2x.png") 2x,
        url("../../img/tours-background-tablet@1x.webp") 1x,
        url("../../img/tours-background-tablet@2x.webp") 2x
      );
    background-size: 768px 742px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    width: 1440px;
    height: 1190px;
    background-image:
      image-set(
        url("../../img/tours-background-desktop@1x.png") 1x,
        url("../../img/tours-background-desktop@2x.png") 2x,
        url("../../img/tours-background-desktop@1x.webp") 1x,
        url("../../img/tours-background-desktop@2x.webp") 2x
      );
    background-size: 1440px 1190px;
  }
}

.tours__link {
  @include font($primary-font, 14px, 14px, $primary-color);

  font-weight: 700;
  letter-spacing: 0.04em;
  display: block;
  text-transform: uppercase;
  width: 212px;
  min-height: 34px;
  text-align: center;
  padding: 10px 28px 0 9px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 13px;
    mask-image: url("../../__spritemap#sprite-right-arrow-view");
    mask-repeat: no-repeat;
    mask-size: 18px 13px;
    background-color: $primary-color;
    top: 10px;
    right: 4px;
  }

  &:hover {
    color: rgba(2, 102, 193, 0.1);

    &::before {
      background-color: rgba(2, 102, 193, 0.1);
    }
  }

  &:focus {
    outline: none;
    color: $blue-color;

    &::before {
      background-color: $blue-color;
    }
  }

  &:active {
    color: #1c3374;

    &::before {
      background-color: #1c3374;
    }
  }

  &:disabled {
    color: #999999;

    &::before {
      background-color: #999999;
    }
  }

  @media (min-width: $tablet-width) {
    @include font($primary-font, 16px, 16px, $primary-color);

    font-weight: 700;
    letter-spacing: 0.04em;
    width: 222px;
    padding: 0 20px 0 0;

    &::before {
      top: 0;
      right: -4px;
    }
  }
}

.tours__swiper {
  width: 290px;
  margin-bottom: 25px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin-bottom: 64px;
  }
}

.tours__container {
  width: 290px;
  padding: 20px 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    padding: 40px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 100px 0;
  }
}

.tours__tours-header {
  display: flex;
}

.tours__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 155px;

    &--two {
      width: 180px;
    }

    &--free {
      width: 180px;
    }
  }

  &--for {
    column-gap: 8px;
  }
}

.tours__wrapper {
  display: flex;
  column-gap: 5px;
  width: 260px;

  &--two {
    display: block;
  }

  &--free {
    display: block;
  }

  @media (min-width: $tablet-width) {
    width: 290px;
    column-gap: 45px;

    &--two {
      display: flex;
      column-gap: 25px;
    }

    &--free {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    column-gap: 95px;

    &--two {
      display: flex;
      column-gap: 75px;
    }

    &--free {
      column-gap: 75px;
    }
  }
}

.tours__map {
  @include font($primary-font, 12px, 12px, $white-color);

  font-weight: 500;
  margin: 0;
  padding: 8px 12px 8px 34px;
  background-color: $blue-color;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../../__spritemap#sprite-pin-view");
    background-repeat: no-repeat;
    background-size: 9px 12px;
    left: 16px;
    top: 7px;
  }

  &--two {
    width: 85px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
  }

  &--free {
    width: 94px;
    margin-bottom: 12px;
    overflow-wrap: break-word;
  }

  @media (min-width: $tablet-width) {
    &--two {
      margin-bottom: 0;
    }

    &--free {
      margin-bottom: 0;
    }
  }
}

.tours__item {
  @include font($primary-font, 12px, 12px, $white-color);

  font-weight: 500;
  padding: 4px 0 4px 28px;
  align-self: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 4px 0 4px 32px;
  }

  &--moon::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../../__spritemap#sprite-moon-view");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    left: 4px;
    top: 2px;
  }

  &--sun::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../../__spritemap#sprite-sun-view");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    left: 0;
    top: 0;
  }
}

.tours__title {
  @include font($primary-font, 24px, 28px, $white-color);

  font-weight: 700;
  width: 260px;
  margin: 16px 0 31px;

  @media (min-width: $tablet-width) {
    width: 270px;
  }
}

.tours__tours-slide {
  position: relative;
}

.tours__swiper-wrapper {
  display: flex;
  width: fit-content;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
  }
}

.tours__content-wrapper {
  width: 290px;
  height: 416px;
  margin: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 224px 20px 29px;
  overflow-y: auto;
  overflow-x: hidden;

  &--two {
    padding: 192px 20px 29px;
  }

  &--free {
    padding: 164px 20px 29px;
  }

  @media (min-width: $tablet-width) {
    width: 330px;

    &--two {
      padding: 224px 20px 17px;
    }

    &--free {
      padding: 192px 20px 21px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 380px;

    &--free {
      padding: 196px 20px 21px;
    }
  }
}

.tours__content-wrapper::-webkit-scrollbar {
  width: 6px;
}

.tours__content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.tours__content-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
}

.tours__content-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tours__img {
  display: block;
}